<div class="container">
  <%= link_to "New Porject", new_project_path, id: "new_link", style: "margin-bottom: 20px;", class: "btn btn-info", remote: true %>
  <div class="panel-group" id="all_projects">
    <%= render @entities %>
  </div>
</div>
